[submodule "fzfvim"]
	path = nvim/site/pack/bundle/opt/fzfvim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "coc"]
	path = nvim/site/pack/bundle/opt/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "base16"]
	path = nvim/site/pack/bundle/opt/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "lightline"]
	path = nvim/site/pack/bundle/opt/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "graphql"]
	path = nvim/site/pack/bundle/opt/graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "fzf"]
	path = nvim/site/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "jsxpretty"]
	path = nvim/site/pack/bundle/opt/jsxpretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "typescript"]
	path = nvim/site/pack/bundle/opt/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "javascript"]
	path = nvim/site/pack/bundle/opt/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "styledcomponents"]
	path = nvim/site/pack/bundle/opt/styledcomponents
	url = https://github.com/styled-components/vim-styled-components.git
[submodule "fugitive"]
	path = nvim/site/pack/bundle/opt/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "editorconfig"]
	path = nvim/site/pack/bundle/opt/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "surround"]
	path = nvim/site/pack/bundle/opt/surround
	url = https://github.com/tpope/vim-surround.git
