! terminal colors
*background:           #000000
*foreground:           #F0F0F0
!black
*color0:               #353535
*color8:               #666666
!red
*color1:               #D81860
*color9:               #F00060
!green
*color2:               #B7CE42
*color10:              #BDE077
!brown/yellow
*color3:               #FEA63C
*color11:              #FFE863
!blue
*color4:               #6F99B4
*color12:              #7C96B0
!magenta
*color5:               #8B7B8B
*color13:              #D8BFD8
!cyan
*color6:               #A7A15E
*color14:              #F0E68C
!white
*color7:               #FFFFFF
*color15:              #FFFFFF

!URxvt.transparent:          True
!URxvt.inheritPixmap:        True
!URxvt.internalBorder:       6

! === Scrolling options ======================================================

URxvt.buffered:             true
URxvt.jumpScroll:           false
URxvt.saveLines:            4000
URxvt.scrollBar:            false
URxvt.scrollTtyKeypress:    true
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     false
URxvt.scrollstyle:          plain
URxvt.secondaryScroll:      false

! === Font options ===========================================================

URxvt.font:                 xft:Terminus:pixelsize=18:antialias=false
URxvt.boldFont:             xft:Terminus:bold:pixelsize=18:antialias=false
!URxvt.font:                 xft:Deja Vu Sans Mono:size=12:antialias=true
!URxvt.boldFont:             xft:Deja Vu Sans Mono:bold:size=12:antialias=true

! === Misc ===================================================================

URxvt.cursorBlink:          true
URxvt.loginShell:           true
URxvt.mapAlert:             true
URxvt.pointerBlank:         true
URxvt.resource:             value
URxvt.urgentOnBell:         true

! === Perl extensions ========================================================

URxvt.perl-ext:             default,url-select
URxvt.perl-ext-common:      default,font-size

! font size
URxvt.keysym.C-Up:          perl:font-size:increase
URxvt.keysym.C-Down:        perl:font-size:decrease

! url selsect
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/chromium
URxvt.url-select.underline: true
